:root {
    --main-color: #63d782;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("https://raw.githubusercontent.com/RandomMaerks/Overused-Grotesk/master/fonts/variable/OverusedGrotesk-VF.ttf")
        format("woff2-variations");
}

/* General text styling */
body {
    font-family: "Overused Grotesk", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.normal-section{
margin-top: 4em;
margin-bottom: 4em;
padding-bottom: 2em;
    
}





/* Heading styles */

.bold-h3{
    font-weight: 500;
}

h1 {
    font-family: "Overused Grotesk";
    font-weight: 500; /* Medium */
    font-size: 96px;
    margin-bottom: 0;
}

h2 {
    font-family: "Overused Grotesk";
    font-weight: 500; /* Medium */
    font-size: 64px;
}

h3 {
    font-family: "Overused Grotesk";
    font-weight: 500; /* Regular */
    font-size: 48px;
}


h4{
    font-family: "Overused Grotesk";
    font-weight: 400;
    font-size: 40px;
}

h5{
    font-family: "Overused Grotesk";
    font-weight: 400;
    font-size: 36px;
}


.gradient-text{
    background: linear-gradient(88deg, #60C67B -10.4%, #5CFF88 94.14%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button{
    font-family: "Overused Grotesk";
    font-weight: 400; /* Regular */
    font-size: 18px;
    padding: 8px 18px 8px 18px;
    
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.button-white {
    background-color: white;
    color: var(--main-color);
    border: none;
    border-radius: 7px;
}
.button-green {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 7px;
}
.button-black {
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
}


