:root {
    --main-color: #63d782;
}



@font-face {
    font-family: "Overused Grotesk";
    src: url("https://raw.githubusercontent.com/RandomMaerks/Overused-Grotesk/master/fonts/variable/OverusedGrotesk-VF.ttf")
        format("woff2-variations");
}

/* General text styling */
body {
    scroll-behavior: smooth;

    font-family: "Overused Grotesk", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}


.y-proximity-scroll-snapping{
        scroll-snap-type: y mandatory;
}


#white-section{
    color: white;
}

#black-section{
    color: white;
    background-color: black;
}

.normal-section {
    margin-top: 4em;
    margin-bottom: 4em;
    padding-bottom: 2em;
}

/* Heading styles */

.bold-h3 {
    font-weight: 500;
}

h1 {
    font-family: "Overused Grotesk";
    font-weight: 500; /* Medium */
    font-size: 96px;
    margin-bottom: 0;
    line-height: 110%;
}

h2 {
    font-family: "Overused Grotesk";
    font-weight: 500; /* Medium */
    font-size: 64px;
    line-height: 110%;
}

h3 {
    font-family: "Overused Grotesk";
    font-weight: 500; /* Regular */
    font-size: 48px;
    line-height: 110%;
}

h4 {
    font-family: "Overused Grotesk";
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
}

h5 {
    font-family: "Overused Grotesk";
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
}

p {
    font-size: 24px;
    line-height: 110%;
}

.justify-text {
    max-width: 24em;
    line-height: 110%;
}

.gradient-text {
    background: linear-gradient(88deg, #60c67b -10.4%, #5cff88 94.14%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    font-family: "Overused Grotesk";
    font-weight: 400; /* Regular */
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.button-white {
    background-color: white;
    color: var(--main-color);
    border: none;
    border-radius: 7px;
}

.button-full-white{
    background-color: white;
    color: black;
    border: none;
    border-radius: 7px;
}

.button-green {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 7px;
}
.button-black {
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
}

.flex-start-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5em;
}
