body {
    margin: 0;
    background: linear-gradient(
        180deg,
        #dfffe8 0%,
        #beffd0 56.73%,
        #60c67b 95.19%
    );
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

header nav li {
    list-style: none;
}

/* HERO SECTION */

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-section h1{
    margin-bottom: 0; 
}

#hero-section p{
    margin-top: 0; 
}


#odj-start {
    width: 80%;
}

#hero-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    margin: 2em;
}

/* ODJ 1*/


#ODJ-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ODJ-TEXT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#ODJ-text h1, h3{
    margin: 0;
    align-items: center;

    
}

#odj-img{
    width: 40%;
    margin-top: 4em;
}


/* ODJ SPEC*/

#odj-spec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4em;
}

#text-spec{
    padding-top: 5em;
}


/* DIVE IN */


#ODJ-analyze{
    width: 150%;
    height: 150%;
    
}

#dive-in{
    display: flex;
    flex-direction: row;

    
}

#dive-in-text{
    padding-top: 10.8em;
    padding-right: 4em;
}

#top-text{
    margin-bottom: 6em;
}


/*Market problem*/


#market-problem {
    margin-top: 12em;
    margin-bottom: 12em;
    text-align: center;
    
}

#logo-min{
    position: relative;
    width: 56px;
    top: 10px;
    
}

#alphateta{
    position: relative;
    top: 6px;
    width: 260px;
}

.DJ-GREEN{
    color: var(--main-color);
}


/* OPEN SOURCE*/

#open-source{
    margin-top: 12em;
    margin-bottom: 14em;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
    background-color: #63D782 ;
}

#open-txt-btn h1{
    padding-top: 6em;
    margin: 0;
}

#open-txt-btn h1{
    margin: 0;
}

#heart{
    position: relative;
    top: 10px;
}


#float-container{
    position: relative;
}

#lea{
    position: relative;
    width: 11em;
    top: 40em;
    right: 10em;
}

#schad{
   width: 9.2em;
   top: 47em;
   right: 49em;
  
   
}

#mai{
    width: 12em;
    top: 40em;
    left: 35em
}

#roxane{
   width: 8em;
   top: 28em;
   left: 50em;
}

#math{
    width: 8em;
    top: 35em;
    right: 60em;
}

.dev{
    position: relative;
    width: 10em;
    border-radius: 50em;
    object-fit: contain;
}


/* OVERALL */

#overall{
    color: white;
    text-align: center;
}

#icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6em;
    
}

.icon{

width: 4em;
    
}

#overall-p{
    padding: 0 10em 0 10em;
}


#join{
padding-left: 2em;
color: white

}

footer{
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#newsletter{
    color: white;
    display: flex;
    flex-direction: column;
    
}


/* CSS poru le tableau du footer*/
.tg {
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 24px;
    overflow: hidden;
    padding: 1em 50px;
    word-break: normal;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    overflow: hidden;
    padding: 1em 50px;
    word-break: normal;
}
.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}
