body {
    margin: 0;
    background: linear-gradient(
        180deg,
        #1E3926 0%,
        #3F8A53 41%,
        #63D782 57%
    );
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

li{
    transition: 300ms color  ease-in-out;
}


li:hover{
    cursor: pointer;
    color: var(--main-color);
    
}



header nav li {
    list-style: none;
}

/* HERO SECTION */

#app{
    font-family: "Overused Grotesk";
    font-weight: 500; /* Medium */
    font-size: 96px;
    margin-bottom: 0;
    line-height: 110%;
}

.crop{
    object-fit: cover;
    

    
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-section h1{
    margin-bottom: 0; 
}

#hero-section p{
    margin-top: 0; 
}


#odj-start {
    width: 80%;
}

#hero-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    margin: 2em;
}

/* ODJ 1*/


#ODJ-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ODJ-TEXT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#ODJ-text h1, h3{
    
    align-items: center;

    
}

#odj-img{
    width: 40%;
    margin-top: 4em;
}


/* ODJ SPEC*/

#odj-spec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4em;
}

#text-spec{
    padding-top: 5em;
}


/* DIVE IN */


#ODJ-analyze{
    width: 150%;
    height: 150%;
    
}

#dive-in{
    display: flex;
    flex-direction: row;

    
}

#dive-in-text{
    padding-top: 10.8em;
    padding-right: 4em;
}

#top-text{
    margin-bottom: 6em;
}


/*Market problem*/


#market-problem {
    margin-top: 40em;
    margin-bottom: 24em;
    text-align: center;
    
}

#logo-min{
    position: relative;
    width: 0.6em;
    top: 10px;
    padding-right: 0.1em;
    
}

#alphateta{
    position: relative;
    top: 6px;
    width: 260px;
}

.DJ-GREEN{
    color: white;
}


/* OPEN SOURCE*/

#open-source{
    margin-top: 24em;
    margin-bottom: 14em;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
    background-color: #63D782 ;
}

#open-txt-btn h1{
    padding-top: 6em;
    margin: 0;
}

#open-txt-btn h1{
    margin: 0;
}

#heart{
    position: relative;
    top: 10px;
}


#float-container{
    padding-top: 340em;
    position: absolute;
    inset: 0;
    pointer-events: none; /* les images ne bloquent pas les clics */
}



#schad{
   width: 9.2em;
   top: 20em;
   right: 25em;
   
}

#lea{
    width: 11em;
    top: 25em;
    right: 10em;
}

#math{
    width: 8em;
    top: 30em;
    right: 40em;
}



#mai{
    width: 12em;
    top: 40em;
    left: 35em
}

#roxane{
   width: 8em;
   top: 28em;
   left: 50em;
}



#maxou{

    width: 8em;
    top: -10em;
    right: 0em;
    
}

#sophie{

    width: 14em;
    top: 10em;
    right: 61em;
    
}

#marko{
    width: 8em;
    top: 0em;
    right: 38em;
}

.dev{
    position: relative;
    width: 10em;
    border-radius: 50em;
    object-fit: contain;
}


/* OVERALL */

#overall{
    padding: 4em 0 4em 0em;
    color: white;
    text-align: center;
}

#icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6em;
    
}

.icon{

width: 4em;
    
}

#overall-p{
    padding: 0 10em 0 10em;
}


#join{
padding-left: 2em;
color: white

}

footer{
    padding: 2em 2em 2em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#newsletter{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    
    
}

#newsletter p, h3{
    margin: 0;
}



/* CSS poru le tableau du footer*/

.tg {
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 110%;
    max-height: 45px !important;

    
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 24px;
    overflow: hidden;
    padding: 0.6em 0.6em;
    word-break: normal;
    max-height: 45px !important;
    transition: 300ms color  ease-in-out;


}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    overflow: hidden;
    padding: 0.6em 0.6em;
    word-break: normal;
    max-height: 45px !important;
        text-align: left !important;
        transition: 300ms color  ease-in-out;

}
.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
    max-height: 45px !important;
    transition: 300ms color  ease-in-out;

}

td tg-0lax{
    height: 45px;
    max-height: 45px !important;
    
}

.tg-left{

    padding-left: 0 !important;
    
}

.col{
     max-height: 12em;
     
}

.col p:hover{

    color: var(--main-color);
    cursor: pointer;
    
}

.table{
    display: flex;
    flex-direction: row;
    text-align: left;
    
}

.col  p{
    transition: 300ms color  ease-in-out;
    margin: 0;
    padding: 1em 1em 0.2em 0.2em;
   
}

textarea{
    max-width: 24em;
    border-radius: 7px;
    text-align: left;
    align-content: center;
    font-family: "Overused Grotesk";
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    resize: none;
    padding: 0 0 0 0.8em ;
}
