body {
    margin: 0;
    background: linear-gradient(
        180deg,
        #dfffe8 0%,
        #beffd0 56.73%,
        #60c67b 95.19%
    );
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

header nav li {
    list-style: none;
}

/* HERO SECTION */

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-section h1{
    margin-bottom: 0; 
    margin;
}

#hero-section p{
    margin-top: 0; 
}


#odj-start {
    width: 80%;
}

#hero-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    margin: 2em;
}

/* ODJ 1*/


#ODJ-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ODJ-TEXT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#ODJ-text h1, h3{
    margin: 0;
    align-items: center;

    
}

#odj-img{
    width: 40%;
    margin-top: 4em;
}


/* ODJ SPEC*/

#odj-spec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4em;
}

#text-spec{
    padding-top: 5em;
}


/* DIVE IN */


#ODJ-analyze{
    width: 150%;
    height: 150%;
    
}

#dive-in{
    display: flex;
    flex-direction: row;

    
}

#dive-in-text{
    padding-top: 10.8em;
    padding-right: 4em;
}

#top-text{
    margin-bottom: 6em;
}


/*Market problem*/


#market-problem {
    text-align: center;
    
}

#logo-min{
    position: relative;
    width: 56px;
    top: 10px;
    
}

#alphateta{
    position: relative;
    top: 6px;
    width: 260px;
}

.DJ-GREEN{
    color: var(--main-color);
}


/* CSS poru le tableau du footer*/
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}
